<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a routerLink="" class="navbar-brand">Trainee Management System</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a href="#" class="nav-link">Home</a></li>
          <li><a routerLink="/login" class="nav-link" *ngIf="!this.service.loginSuccess">Login</a></li>
          
          <li class="dropdown" *ngIf="this.service.loginSuccess">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Trainees</a>
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu">                                    
                <li><a routerLink="/viewAllTrainee" tabindex="-1" class="menu-item">View All</a></li>
                <li><a routerLink="/addTrainee" tabindex="-1" class="menu-item">New Trainee</a></li>                                    
                <li><a routerLink="/searchTrainee" tabindex="-1" class="menu-item">Search Trainee</a></li>   
                <li><a routerLink="/deleteTrainee" tabindex="-1" class="menu-item">Delete Trainee</a></li> 
                <li><a routerLink="/updateTrainee" tabindex="-1" class="menu-item">Update Trainee</a></li> 
                <li><a routerLink=" "  tabindex="-1" class="menu-item" (click)="this.service.loginSuccess=false">Logout</a></li>                               
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>
