<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
       <P >Login Page</P>
        <form fxLayoutAlign="stretch" fxLayout="column" class="form-group">
            <mat-form-field >
          
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field >
            
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Login</button>
          </form>
    </mat-card>
</div>
